[profile.default]
solc_version = "0.8.28"
evm_version = "cancun"
src = "src"
out = "out"
test = "test"
libs = ["lib"]
ffi = true
ast = true
build_info = true
optimizer = true
optimizer_runs = 200
via_ir = true
extra_output = ["storageLayout"]
cache_path = "cache_forge"

[profile.sepolia]
libraries = [
  "lib/poseidon-solidity/contracts/PoseidonT3.sol:PoseidonT3:0x1464bD48D1635E9B9F65cFd629d8E9f507A952dD",
  "lib/poseidon-solidity/contracts/PoseidonT4.sol:PoseidonT4:0xd747896B912C1585b04007c103D10A04e71bfb25"
]

[fuzz]
runs = 5000
max_test_rejects = 150000

[rpc_endpoints]
localhost = "${LOCALHOST_RPC_URL}"
sepolia = "${SEPOLIA_RPC_URL}"
uzh = "${UZH_RPC_URL}"

[etherscan]
sepolia = { key = "${ETHERSCAN_API_KEY}" }

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
