[profile.default]
solc_version = "0.8.28"
evm_version = "paris"
src = "src"
out = "out"
test = "test"
libs = ["lib"]
ffi = true
ast = true
build_info = true
optimizer = true
optimizer_runs = 200
extra_output = ["storageLayout"]
cache_path = "cache_forge"

[fuzz]
runs = 5000
max_test_rejects = 150000

[rpc_endpoints]
localhost = "${LOCALHOST_RPC_URL}"
sepolia = "${SEPOLIA_RPC_URL}"

[etherscan]
sepolia = { key = "${ETHERSCAN_API_KEY}" }

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
